<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shen.shop.mapper.CaregoryDoMapper" >
  <resultMap id="BaseResultMap" type="com.shen.shop.model.CaregoryDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CAREGORY_ID" property="caregoryId" jdbcType="BIGINT" />
    <result column="INFOR" property="infor" jdbcType="VARCHAR" />
    <result column="CNAME" property="cname" jdbcType="VARCHAR" />
    <result column="IMG" property="img" jdbcType="VARCHAR" />
    <result column="CID" property="cid" jdbcType="BIGINT" />
  </resultMap>
</mapper>