<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shen.shop.mapper.ImgDoMapper" >
  <resultMap id="BaseResultMap" type="com.shen.shop.model.ImgDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="IMG_ID" property="imgId" jdbcType="BIGINT" />
    <result column="GOODS_ID" property="goodsId" jdbcType="BIGINT" />
    <result column="PICNAME" property="picname" jdbcType="VARCHAR" />
  </resultMap>
</mapper>